# Electron和SQLite3构建配置
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron-builder-binaries-mirror=https://cdn.npmmirror.com/binaries/electron-builder-binaries/

# 构建配置
build-from-source=true

# 超时设置
timeout=1000000
fetch-retry-maxtimeout=1000000